body {
    font-family: 'DM Sans', sans-serif;
    color: #212834;
    background: #d9d9d9;
    font-size: 14px;
    max-width: 900px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}

a {
    color: #2d7788;
    text-decoration: none;
}


hr {
    margin-top: 40px;
    margin-bottom: 30px;
    margin-left: 30px;
}

.wrapper {
    max-width: 960px;
    margin: 0 auto;
    position: relative;
    margin-top: 30px
}

.main-wrapper {
    padding: 0 0 0 400px;
}

.hero h1 {
    font-family: "DejaVu Sans Mono", serif;
    font-size: 40px;
    font-weight: bold;
    line-height: 10px;
}

.experience {
    //margin-right: 30px;
}

.experience-item {
    /*line-height: 10px;*/

}

.meta {

}

.experience-row {
    position: relative;
    overflow: hidden;
    margin-bottom: 6px;
}

.job-title {
    color: #3F4650;
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 500;
}

.time {
    position: absolute;
    right: 0;
    top: 0;
    color: #3F4650;
}

/*Side wrapper styling*/
.sidebar-wrapper {
    position: absolute;
    width: 350px;
    left: 0;
    background: #212834;
    color: #fff;
    min-height: 1000px;
    height: 100%;
}

.skills-container {
    padding-left: 30px;
    padding-right: 15px;
}

.experience-item {
    margin-bottom: 20px;
}

.experience-details .skills-container {
    padding-left: unset;
}

.experience-details .skills-container .chip {
    font-size: 14px;
    padding: 4px 8px;
    background-color: #212834;
    color: white;
}

.contact-container {
    padding-left: 30px;
}

.profile-picture img {
    height: 280px;
    width: 350px;
    vertical-align: middle;
    object-fit: cover;
}

.contact-info {
    font-size: 16px;
    display: flex;
    padding-top: 10px;
}

.icon-spacing {
    margin-right: 30px;
}

.chip {
    font-size: 16px;
    /* Center the content */
    align-items: center;
    display: inline-flex;
    justify-content: center;
    /* Background color */
    background-color: #fff;
    color: #212834;

    /* Rounded border */
    border-radius: 9999px;

    /* Spacing */
    padding: 8px 16px;
    margin: 8px 4px;
}